body{
  width: 70%;
  margin: 2em auto 0;
  text-align: center;
}
.parent{
  display: flex;
}
.child{
  width: 100%;
  justify-content: space-around;
}
img{
  border-radius: 50%;
  margin: 1em 2em;
}
